.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: background-color 0.15s ease-out ;
    &::before {
        content: '';
        width: 6px;
        height: 6px;
        border-right: 2px solid #FF3E79;
        border-top: 2px solid #FF3E79;
        transform: rotate(45deg) translateX(-5%);
        transition: border-color 0.15s ease-out ;
    }
    &:hover {
        background-color: #FF3E79;
    }
    &:hover::before {
        border-color: #ffffff;
    }
}