.brand-list {
    display: flex;
    max-width: 100vw;
    min-width: 0;
    margin-bottom: 24px;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
    list-style-type: none;

   &__wrapper {
        display: flex;
        margin-left: $pagePadding;
    }
    &__pagination {
        bottom: 0 !important;
    }
    &__pagination {
        font-size: 12px;
        line-height: 12px;
    }
    &__pagination .swiper-pagination-bullet {
        opacity: 1;
        width: 12px;
        height: 12px;
        margin: 0 8px;
        background-color: #DDDDDD;
    }
    &__pagination .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }
   @media (min-width: 767px) {
      &__pagination {
         display: none;
        }

      & {
        margin: 0;
        padding-left: 0;
        height: fit-content;
        }
    &__wrapper {
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 10px;
        margin-left: $pagePadding;
        }
   }
}