.brands {
    font-family: 'TT Lakes';
    border-top: 1px solid #D9FFF5;
    display: flex;
    flex-direction: column;
    min-width: 0;
    
    &__header-text {
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #7E7E82;

        background-color: #FFFFFF;
        padding: 16px $pagePadding;

    }

    &__brand-list {
        margin: 24px 0 0 $pagePadding;
    }

    &__show-more {
        margin-top: 24px;
        margin-bottom: 34px;
        margin-left: $pagePadding;
    }

    @media (max-width: 767px) { /* M O B I L E */
        .brands__show-more {
            display: none;
        }
    }
}


