.brands {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    
    &__brand-list {
        margin: 0 $pagePadding;
    }

    &__show-more {
        align-self: flex-start;
        margin-top: 24px;
        margin-bottom: 34px;
        margin-left: $pagePadding;
    }
    .brands__show-more {
        display: none;
    }

    @media (min-width: 767px) { /* M O B I L E */
        .brands__show-more {
            display: inline-block;
        }
    }
}


