.brands {
    font-family: 'TT Lakes';
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    
    &__brand-list {
        margin: 0 $pagePadding;
    }

    &__show-more {
        margin-top: 24px;
        margin-bottom: 34px;
        margin-left: $pagePadding;
    }

    @media (max-width: 767px) { /* M O B I L E */
        .brands__show-more {
            display: none;
        }
    }
}


