.footer-info {
    margin: 80px 0 40px 0;
    padding: 0 $pagePadding;
    display: flex;
    justify-content: space-between;
    color: #7E7E82;
    
    &__text:last-child {
        text-align: right;
    }
    &__text:nth-child(2) {
        text-align: center;
    }
}