.header-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    border-top: 1px solid #D9FFF5;

    background-color: #FFFFFF;
    padding: 16px $pagePadding;
    margin-top: 0;
    margin-bottom: 24px;
}