.hightlighted-header{
    display: flex;
    align-items: center;

    &__title {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.6px;
        margin: 0;
        display: flex;
        align-items: flex-end;
        height: 40px;
    }
    &__title::before {
        position: relative;
        left: -($pagePadding);
        z-index: 1;
        content: url("data:image/svg+xml,%3Csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
        height: 100%;
    }

}

