.intro-article {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   &__img {
        max-width: 100%;
    }

    &__content {
        padding: 0 $pagePadding;
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    &__show-more {
        margin-bottom: 15px;
    }
    
    &__text-more, &__text-more-more {
            display: none;
        }
        & {
            flex-direction: column;
        }

    @media (max-width: 1440px) {
        &__text-more-more {
            display: none;
        }
    }
    
    @media (min-width: 767px) {
        & {
            padding: 0 $pagePadding;
            flex-wrap: nowrap;
            flex-direction: row;
        }
        &__content {
            max-width: 50%;
            padding: 0 $pagePadding 0 0;
        }
        &__img {
            max-width: 50%;
            max-height: 320px;
            border-radius: 6px;
        }
        
        &__show-more {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}