.intro-article {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 $pagePadding;

   &__img {
        max-width: 50%;
        max-height: 320px;
        border-radius: 6px;
    }

    &__content {
        max-width: 50%;
        padding-right: $pagePadding;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    &__show-more {
        margin-top: 10px;
    }

    @media (max-width: 1440px) {
        &__text-more-more {
            display: none;
        }
    }
    
    @media (max-width: 768px) {
        &__text-more, &__text-more-more {
            display: none;
        }
        & {
            flex-direction: column;
        }
    }
}