.intro {
    margin: 0;

    .vertical-divider {
        width: 2px;
        height: 32px;
        background-image: url('data:image/svg+xml,%3Csvg width="2" height="32" viewBox="0 0 2 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="2" height="32" rx="1" fill="%23EAEAEA"/%3E%3C/svg%3E');
    }
    
    &__header {
        box-sizing: border-box;
        margin: 0;
        padding: 0 20px;
        width: 100%;
        height: 88px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        border-bottom: 1px solid #D9FFF5;
        
        @media (min-width: 1440px) {
            & {
                display: none;
            }
        }
        @media (max-width: 1440px) {
            .accent-button-label {
                display: none;
            }
        }
    }
    
    .accent-button--call, .accent-button--chat, .accent-button--profile {
        display: none;
    }
    &__text-more, &__text-more-more {
        display: none;
    }
    .vertical-divider:nth-of-type(1) {
        display: none;
    }

    &__hightlighted-header {
        padding: 0 $pagePadding;
        margin-bottom: 24px;
    }

    &__logo {
        margin-right: auto;
    }

    &__main {
        padding-top: 24px;
        padding-bottom: 50px;
        @media (max-width: 1440px) {
            .vertical-divider:nth-of-type(2) {
                display: none;
            }
            .accent-button {
                display: none;
            }
            .accent-button-label {
                display: none;
            }
        }
        @media (max-width: 1440px) {
            .accent-button--repair {
                display: none;
            }
            .vertical-divider:nth-of-type(2) {
                display: none;
            }
        }
    }

    @media (max-width: 1440px) {
        .vertical-divider:nth-of-type(2) {
            display: none;
        }
    }
}