.intro {
    margin: 0;

    .vertical-divider {
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 2px;
    }
    
    .accent-button--call, .accent-button--chat, .accent-button--profile {
        display: none;
    }
    
    .vertical-divider:nth-of-type(1) {
        display: none;
    }
    
    &__header {
        box-sizing: border-box;
        margin: 0;
        padding: 0 20px;
        width: 100%;
        height: 88px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        border-bottom: 1px solid #D9FFF5;
        
        @media (min-width: 1439px) {
            & {
                display: none;
            }
        }
        @media (min-width: 767px) {
            .accent-button--call, .accent-button--chat, .accent-button--profile {
                display: block;
            }
            .vertical-divider:nth-of-type(1) {
                display: block;
            }
        }
    }
    
    &__text-more, &__text-more-more {
        display: none;
    }
    

    &__hightlighted-header {
        margin-bottom: 24px;
    }

    &__logo {
        margin-right: auto;
    }

    &__main {
        padding-top: 24px;
        padding-bottom: 50px;
        .accent-button, .accent-button-label {
            display: none;
        }
        @media (min-width: 1439px) {
            .accent-button, .accent-button-label {
                display: block;
            }
        }
    }
}