.modal-form {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    &__input {
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        padding: 12px 0 12px 16px;
        margin: 0 $pagePadding;
        &::placeholder {
            font-family: 'TT Lakes';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #B5B6BC;
            opacity: 1;
        }
    }
    &__note-bene {
        margin: 0 $pagePadding;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
    }
    &__attention {
        color: #FF3E79;
    }
    &__order-button {
       position: relative;
       max-width: 136px;
       align-self: flex-end; 
       border: none;
       margin-right: $pagePadding;
    }
    &__accent-button {
        margin: $pagePadding*1.5 0 0 $pagePadding;
    }
    @media (min-width: 767px) {
        & {
            padding-top: 10px;
            border-left: 1px solid #D9FFF5;
            width: 320px;
            box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
            height: 100%;
            padding-top: $pagePadding;
        }
        &__accent-button {
            display: none;
        }
    }
}