.price-item {
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    &__description:first-child {
        padding-top: 0;
    }
    
    &__value:last-child {
        position: absolute;
        bottom: 16px;
        right: 16px;
        text-align: right;
    }
    &--header {
        display: none;
    }

    @media (min-width: 767px) {
        & {
            justify-content: flex-start;
            align-items: center;
            border-radius: 0;
            flex-direction: row;
            border: none;
            border-bottom: 1px solid #EAEAEA;
            padding: 0;
            min-height: 0;
        }
        &__highlighted-value {
            text-align: left;
            font-weight: normal;
            color: #7E7E82;
        }
        &__highlighted-value:last-child {
            min-width: 116.45px;
        }

        &__description {
            display: none;
        }

        &__value {
            padding: 16px;
        }
        &--header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            background-color: #F8F8F8;
        }

        &__value:first-child {
            position: sticky;
            flex-basis: 50%;
        }
        &__value:nth-child(2) {
            position: sticky;
            flex-basis: 20%;
        }
        &__value:nth-child(3) {
            position: sticky;
            flex-basis: 20%;
        }
        &__value:last-child {
            position: sticky;
            flex-basis: 10%;
        }
    }
}