$pagePadding: 16px;

@media (min-width: 767px) {
  $pagePadding: 24px;
}
@media (min-width: 1439px) {
  $pagePadding: 34px;
}


@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');

@import '../fonts/stylesheet.css';
@import './highlighted-header.scss';
@import './accent-button.scss';
@import './show-more.scss';
@import './header-text.scss';
@import './arrow-button.scss';
@import './order-button.scss';
@import './main-blocker.scss';

@import './main-page.scss';

@import './intro.scss';
@import './intro-menu.scss';
@import './intro-article.scss';

@import './brands.scss';
@import './brand-list.scss';
@import './brand-item.scss';

@import './types.scss';
@import './type-list.scss';
@import './type-item.scss';

@import './prices.scss';
@import './price-list.scss';
@import './price-item.scss';

@import './side-menu.scss';
@import './side-nav.scss';
@import './side-footer.scss';
@import './language-switcher.scss';

@import './footer-info.scss';

@import './modal-form.scss';
@import './feedback-modal.scss';
@import './call-modal.scss';

$bgColor: #fff;

body {
  margin: 0;
  font-family: 'TT Lakes';
  background-color: $bgColor;
}
