$pagePadding: 34px;

@import '../fonts/stylesheet.css';
@import './highlighted-header.scss';
@import './accent-button.scss';
@import './show-more.scss';

@import './intro.scss';

@import './brands.scss';

@import './prices.scss';

@import './side-menu.scss';
@import './side-nav.scss';
@import './side-footer.scss';
@import './language-switcher.scss';

@import './footer-info.scss';

$bgColor: #fff;

body {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'TT Lakes';
  background-color: $bgColor;
}
